<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conform</title>
    <style>
      html, body{ height: 100%; } *{ padding: 0px; margin: 0px; } body {
      background-color: #dde3fb !important; display: grid; place-items: center;
      } .card { background-color: #222222 !important; border-radius: 10px;
      font-family: 'Manrope', sans-serif; } p{ color: #858585; color: #b9b8b8;
      font-size: 15px } .btn{ border-radius: 7px; font-size: 0.78rem; }
      .btn:focus{ outline: none; box-shadow: none; } *:focus{ outline: none; }
    </style>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 col-md-5 col-sm-12 col-xs-12">
          <div class="card px-2 py-3 p-md-4 text-white">

            <div class="row">
              <div class="col-3 col-md-3 text-center">
                <img
                  src="https://th.bing.com/th/id/R.af712759b7196ffd192df4d5cbbae45e?rik=wj1Xb%2fmx8dmnrg&pid=ImgRaw&r=0"
                  alt=""
                  height="60px"
                  width="70px"
                  class=""
                />
              </div>
              <div class="col-9 col-md-9">
                <h6 class="font-weight-bold mb-3">Hello
                  {{user.username}}</h6>

                <p>Please Conform Your Purchase By Clicking Ok.</p>

                <form
                  action="/order/allOrders/{{discountedTotal}}"
                  method="post"
                >
                  <input
                    type="hidden"
                    name="discountedTotal"
                    value="{{discountedTotal}}"
                  />
                  <input
                    type="hidden"
                    name="paymentMethod"
                    value="{{paymentMethod}}"
                  />
                  <input
                    type="hidden"
                    name="CouponDiscountAmount"
                    value="{{CouponDiscountAmount}}"
                  />

                  <button
                    type="submit"
                    class="btn bg-white text-center px-3 font-weight-bold"
                  >OK</button>
                </form>

              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
    >

    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    ></script>
  </body>
</html>